#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-59685577],h2[data-v-59685577]{font-weight:400}ul[data-v-59685577]{list-style-type:none;padding:0}li[data-v-59685577]{display:inline-block;margin:0 10px}a[data-v-59685577]{color:#42b983}
/*# sourceMappingURL=app.9c8f46b7761766268f8b4bc0fee3dff4.css.map */